@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.headline {
    margin-top: 5rem;
    font-size: xx-large;
    color: '#FCFAF1';
    margin-left: 25rem;
}
